.navbar {
  width: 100%;
  background: transparent;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.link {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: #555;
}
