.navbar {
  width: 100%;
  background: transparent;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: background 0.3s ease, padding 0.3s ease;
}

.scrolled {
  backdrop-filter: blur(20px);
  background: rgba(45, 52, 121, 0.2);
  padding: 0.5rem 0;
}

.link {
  color: #fff;
  text-decoration: none;
  margin: 0 16px;
  padding: 10px 0;
  border-radius: var(--border-radius-button);
  position: relative;
  display: inline-block;
}

.link::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-pink);
  transition: width 0.3s;
}

.link:hover::before,
.link:active::before,
.link:focus::before {
  width: 100%;
}

.link:hover,
.link:active,
.link:focus {
  color: var(--color-light-pink);
}

.link:focus {
  outline: none;
}

.Navbar__mobile_menu,
.Navbar__mobile_right {
  display: none;
}

.hamburger {
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger div {
  width: 2rem;
  height: 0.25rem;
  background-color: #fff;
  transition: 0.3s;
}

.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translateY(1rem);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translateY(-1rem);
}

.hamburger.open {
  transform: translateX(0.75rem);
}

.Navbar__mobile_menu.open_menu {
  width: 100vw;
  padding: 2rem 0;
  padding-top: 8rem;
  backdrop-filter: blur(20px);
  background: rgba(45, 52, 121, 0.2);
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
}

.Navbar__mobile_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Navbar__mobile_cta {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .Navbar__center,
  .Navbar__right {
    display: none;
  }

  .navbar {
    padding: 1rem 0;
    justify-content: space-between;
  }

  .Navbar__left {
    margin-left: 1rem;
  }

  .Navbar__mobile_right {
    display: block;
    margin-right: 1rem;
  }

  .hamburger {
    display: flex;
  }
}
