.navbar {
  width: 100%;
  background: transparent;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: background 0.3s ease, padding 0.3s ease;
}

.scrolled {
  backdrop-filter: blur(20px);
  background: rgba(45, 52, 121, 0.2);
  padding: 0.5rem 0;
}

.link {
  color: #fff;
  text-decoration: none;
  margin: 0 16px;
  padding: 10px 0;
  border-radius: var(--border-radius-button);
  position: relative;
  display: inline-block;
}

.link::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-pink);
  transition: width 0.3s;
}

.link:hover::before,
.link:active::before,
.link:focus::before {
  width: 100%;
}

.link:hover,
.link:active,
.link:focus {
  color: var(--color-light-pink);
}

.link:focus {
  outline: none;
}
