.Hero {
  width: 100vw;
  padding-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00030c, var(--color-dark));
  position: relative;
  overflow: hidden;
}

.Hero::after {
  content: '';
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url('/images/hero.svg') no-repeat center center/cover;
  transform: rotate(15deg) translateX(-5%) translateY(-15%) scale(1.2);
  z-index: 0;
}

.Hero__circle_1 {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: #17102f66;
  position: absolute;
  left: -65%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: moveCircle1 9s infinite alternate ease-in-out;
}

.Hero__circle_2 {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #52236166;
  position: absolute;
  right: -15%;
  top: -85%;
  transform: translateX(-40%);
  z-index: 1;
  animation: moveCircle2 6s infinite alternate ease-in-out;
}

.Hero__circle_3 {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #53186c66;
  position: absolute;
  right: -50%;
  top: -10%;
  transform: translateY(-50%);
  z-index: 1;
  animation: moveCircle3 7s infinite alternate ease-in-out;
}

.Hero__container {
  max-width: var(--width);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 2;
}

.Hero__container__left {
  margin-top: -3rem;
}

.Hero__heading {
  margin-top: 1rem;
  line-height: 4rem;
}

.Hero__sub_heading {
  margin-top: 2rem;
  line-height: 2rem;
}

.Hero__cta {
  position: relative;
  width: 460px;
  margin-top: 3rem;
}

.Hero__image img {
  width: 700px;
}

.successMessage {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #28a745;
  border-radius: var(--border-radius-card);
  color: #fff;
  text-align: center;
}

.errorMessage {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #dc3545;
  border-radius: var(--border-radius-card);
  color: #fff;
  text-align: center;
}

@keyframes moveCircle1 {
  0% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveCircle2 {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-40%);
  }
}

@keyframes moveCircle3 {
  0% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-50%);
  }
}
