.Footer {
  width: 100vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.newsletter {
  width: 1100px;
  background: #2d3479;
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.newsletter_circle_1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 44px solid;
  border-color: #5a61be66;
  position: absolute;
  left: -5%;
  top: 20%;
  z-index: 0;
  animation: moveCircle1 9s infinite alternate ease-in-out;
}

.newsletter_circle_2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 34px solid;
  border-color: #5a61be66;
  position: absolute;
  right: -10%;
  top: 0;
  animation: moveCircle2 13s infinite alternate ease-in-out;
}

.newsletter__heading {
  position: relative;
  z-index: 1;
}

.newsletter__sub_heading {
  position: relative;
  z-index: 1;
}

.newsletter__form {
  width: 40%;
  margin-top: 2rem;
}

.copyright {
  padding: 1rem;
  position: absolute;
  bottom: 0;
}

@keyframes moveCircle1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, -20%);
  }
}

@keyframes moveCircle2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-40%, 20%);
  }
}
