.Footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.newsletter {
  width: var(--width);
  background: #2d3479;
  padding: 2rem;
  border-radius: var(--border-radius-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.newsletter_circle_1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 44px solid;
  border-color: #5a61be66;
  position: absolute;
  left: -5%;
  top: 20%;
  z-index: 0;
  animation: moveCircle1 9s infinite alternate ease-in-out;
}

.newsletter_circle_2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 34px solid;
  border-color: #5a61be66;
  position: absolute;
  right: -10%;
  top: 0;
  animation: moveCircle2 13s infinite alternate ease-in-out;
}

.newsletter__heading {
  position: relative;
  z-index: 1;
}

.newsletter__sub_heading {
  position: relative;
  z-index: 1;
}

.newsletter__form {
  width: 40%;
  margin-top: 2rem;
}

.info {
  width: var(--width);
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.info__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info__social_bg {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1rem;
  background: #2d3479;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__socials .info__social_bg img {
  width: 1rem;
}

.info__company a {
  margin-left: 2rem;
}

.info__company a:hover,
.info__company a:focus {
  opacity: 0.75;
  outline: none;
}

.Footer__links {
  width: var(--width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links__company {
  width: 30%;
  padding: 0 3rem 0 0;
  padding-top: 3rem;
  line-height: 1.4rem;
  border-right: 1px solid #2d3479;
}

.links__company p {
  margin: 1rem 0;
  font-size: 0.85rem;
  text-align: justify;
}

.links__company a:last-child {
  text-decoration: underline;
  font-size: 0.85rem;
  font-weight: bold;
  opacity: 0.8;
  color: #ff65de;
}

.links__site {
  width: 70%;
  padding: 0 3rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.column a {
  font-size: 0.85rem;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.column a:hover,
.column a:active,
.column a:focus,
.links__company a:last-child:focus,
.links__company a:last-child:hover {
  opacity: 1;
  outline: none;
}

.copyright {
  padding: 2rem;
  opacity: 0.5;
}

@keyframes moveCircle1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, -20%);
  }
}

@keyframes moveCircle2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-40%, 20%);
  }
}

@media (max-width: 768px) {
  .Footer__links {
    flex-direction: column;
    align-items: center;
  }

  .links__company,
  .links__site {
    width: 100%;
    padding: 1rem 0;
    border: none;
  }

  .links__site {
    flex-direction: column;
  }

  .column {
    margin-bottom: 1rem;
  }
}
