.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background: rgba(45, 52, 121, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  font-family: var(--font-montserrat);
}

.modal {
  background-color: var(--color-dark);
  color: #fff;
  padding: 2rem;
  border-radius: var(--border-radius-card);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  position: relative;
  overflow: hidden;
}

.Modal__top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Modal__top h2 {
  font-family: var(--font-caveat);
}

.formGroup {
  margin: 2rem 0;
}

.formGroup:last-child {
  margin: 0;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-light-blue);
  font-family: var(--font-montserrat);
  font-size: 0.85rem;
  font-weight: bold;
}

.label span {
  color: var(--color-pink);
}

.checkboxGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkboxGroup label {
  margin: 1rem;
}

.checkboxGroup label:first-child {
  margin-left: 0;
}

.checkboxGroup input {
  margin-right: 0.5rem;
}

.checkboxGroup .formGroup {
  margin-right: 0.5rem;
}
