.logo {
  font-family: var(--font-caveat);
  font-size: 3rem;
  text-shadow: 0 0 5px var(--color-light-blue);
}

.logo:focus {
  outline: none;
}

.logo:hover,
.logo:active,
.logo:focus {
  color: var(--color-pink);
  text-shadow: 0 0 5px var(--color-pink);
}

.heading {
  font-family: var(--font-poppins);
  font-weight: 900;
  font-size: 2.7rem;
}

.heading_medium {
  font-family: var(--font-poppins);
  font-weight: 900;
  font-size: 2rem;
}

.heading_light {
  font-family: var(--font-poppins);
  font-weight: 300;
  font-size: 2.7rem;
  color: var(--color-light-blue);
  text-shadow: var(--heading-light-glowing-text);
}

.paragraph {
  font-family: var(--font-montserrat);
}

.bold {
  font-weight: bold;
}

.button_outline {
  font-size: 1.4rem;
  font-family: var(--font-caveat);
  background: transparent;
  border: 2px solid var(--color-pink);
  padding: 12px 16px;
  border-radius: var(--border-radius-button);
  color: var(--color-light-pink);
  cursor: pointer;
  transition: background 0.3s;
}

.button_outline:hover {
  background: var(--color-dark-pink);
  box-shadow: var(--shadow-color-pink);
  color: #fff;
}

.button_outline:focus {
  background: var(--color-dark-pink);
  box-shadow: var(--shadow-color-pink);
  color: #fff;
  outline: none;
}

.button_wide {
  width: 100%;
  font-size: 1.4rem;
  font-family: var(--font-caveat);
  background: var(--color-pink);
  padding: 12px 16px;
  border-radius: var(--border-radius-button);
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

.button_wide:hover {
  box-shadow: var(--shadow-color-pink);
}

.button_wide:focus {
  box-shadow: var(--shadow-color-pink);
  outline: none;
}

.pill {
  border: 2px solid var(--color-pink);
  padding: 4px 15px;
  border-radius: var(--border-radius-pill);
  display: inline-block;
  color: var(--color-light-pink);
  font-weight: bold;
  font-size: 0.8rem;
}

.line {
  width: var(--width);
  height: 1px;
  margin-top: 3rem;
  border: 1px solid #2d3479;
}

.inputWrapper {
  position: relative;
}

.input_email {
  width: 100%;
  padding: 16px;
  padding-right: 130px;
  background-color: var(--color-dark);
  border: 2px solid var(--color-pink);
  border-radius: var(--border-radius-button);
  transition: box-shadow 0.3s;
  font-family: var(--font-montserrat);
  font-size: 1rem;
}

.input_email:focus {
  box-shadow: var(--shadow-color-pink);
  outline: none;
}

.button_email {
  position: absolute;
  top: 50%;
  right: 2px;
  font-size: 1.4rem;
  font-family: var(--font-caveat);
  transform: translateY(-50%);
  background: var(--color-pink);
  border: none;
  padding: 12px 16px;
  border-radius: 0 4px 4px 0;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.button_email:hover {
  background: var(--color-dark-pink);
  box-shadow: var(--shadow-color-pink);
}

.button_email:focus {
  box-shadow: var(--shadow-color-pink);
  outline: none;
}

.btn {
  background-color: var(--color-pink);
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: var(--border-radius-button);
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: var(--color-dark-pink);
  box-shadow: var(--shadow-color-pink);
}

@media (max-width: 768px) {
  .modal {
    width: 90%;
    padding: 1rem;
  }

  .inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input_email {
    padding-right: 0;
    border-radius: 4px 4px 0 0;
  }

  .button_email {
    position: relative;
    margin-left: 4px;
    width: 100%;
    font-size: 1.4rem;
    transform: translateY(0);
    border-radius: 0 0 4px 4px;
  }

  .line {
    width: 100%;
    margin-top: 2rem;
  }
}
