.logo {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  text-shadow: 0 0 5px #53ccdb;
}

.logo:focus {
  outline: none;
}

.logo:hover,
.logo:active,
.logo:focus {
  color: #fe29d0;
  text-shadow: 0 0 5px #fe29d0;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 2.7rem;
}

.heading_medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.heading_light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 2.7rem;
  color: #53ccdb;
  text-shadow: 0 0 5px #53ccdb, 0 0 10px #53ccdb, 0 0 15px #53ccdb,
    0 0 20px #53ccdb;
}

.paragraph {
  font-family: 'Montserrat', sans-serif;
}

.button_outline {
  font-size: 1.4rem;
  font-family: 'Caveat', cursive;
  background: transparent;
  border: 2px solid #fe29d0;
  padding: 12px 16px;
  border-radius: 4px;
  color: #ff73b4;
  cursor: pointer;
  transition: background 0.3s;
}

.button_outline:hover {
  background: #e218c0;
  box-shadow: 0 0 20px #fe29d0, inset 0 0 20px #fe29d0;
  color: #fff;
}

.button_outline:focus {
  background: #e218c0;
  box-shadow: 0 0 20px #fe29d0, inset 0 0 20px #fe29d0;
  color: #fff;
  outline: none;
}

.pill {
  border: 2px solid #fe29d0;
  padding: 4px 15px;
  border-radius: 25px;
  display: inline-block;
  color: #ff73b4;
  font-weight: bold;
  font-size: 0.8rem;
}

.inputWrapper {
  position: relative;
}

.input_email {
  width: 100%;
  padding: 16px;
  padding-right: 130px;
  background-color: #000327;
  border: 2px solid #fe29d0;
  border-radius: 4px;
  transition: box-shadow 0.3s;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.input_email:focus {
  box-shadow: 0 0 20px #fe29d0, inset 0 0 20px #fe29d0;
  outline: none;
}

.button_email {
  position: absolute;
  top: 50%;
  right: 2px;
  font-size: 1.4rem;
  font-family: 'Caveat', cursive;
  transform: translateY(-50%);
  background: #fe29d0;
  border: none;
  padding: 12px 16px;
  border-radius: 0 4px 4px 0;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.button_email:hover {
  background: #e218c0;
  box-shadow: 0 0 20px #fe29d0, inset 0 0 20px #fe29d0;
}

.button_email:focus {
  box-shadow: 0 0 20px #fe29d0, inset 0 0 20px #fe29d0;
  outline: none;
}
