@font-face {
  font-family: 'BoonRegular';
  src: url('/fonts/BoonRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CiroyaRegular';
  src: url('/fonts/CiroyaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
