@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat&family=Poppins:wght@300;900&display=swap');

:root {
  --font-caveat: 'Caveat', cursive;
  --font-poppins: 'Poppins', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --width: 1100px;

  --border-radius-card: 15px;
  --border-radius-button: 4px;
  --border-radius-pill: 25px;

  --color-pink: #fe29d0;
  --color-light-pink: #ff73b4;
  --color-dark-pink: #e218c0;
  --color-light-blue: #53ccdb;
  --color-dark: #000327;

  --shadow-color-pink: 0 0 20px var(--color-pink),
    inset 0 0 20px var(--color-pink);

  --heading-light-glowing-text: 0 0 5px var(--color-light-blue),
    0 0 10px var(--color-light-blue), 0 0 15px var(--color-light-blue),
    0 0 20px var(--color-light-blue);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  font-family: var(--font-montserrat);
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-montserrat);
  background: var(--color-dark);
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-montserrat);
}

input {
  color: #fff;
}
